.container {
    width: 800px;
    height: 300px;
    margin-top: 10rem;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.prev,
.next {
    position: absolute;
    left: calc(50% - 8px);
}

.prev {
    top: 0.5rem;
}

.next {
    bottom: 0;
}

.active {
    display: block;
}

h2,
p {
    display: none;
    position: absolute;
    color: white;
    margin: 2rem
}

h2 {
    top: 45%;
}

p {
    top: 60%;
}